<footer class="footer fixed-bottom" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <span class="text-muted">Copyright (c) 2020, EZ-Quizzy</br>
        All rights reserved.</span>
    </div>
</footer>