<div class="navbar-fixed-bottom row-fluid">
      <div class="navbar-inner">
          <div class="container">
              <span class="text-muted">Copyright (c) 2020, EZ-Quizzy</br>
                All rights reserved.</span>
          </div>
      </div>
</div>