<div class="jumbotron mt-5">
    <div class="container">
        <form action="/tests/get-tests" enctype="multipart/form-data" method="post">
        <h1 class="display-3">{{ quizzQuestion }}</h1>

        <div class="custom-control custom-checkbox lead">

            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>

        </div>

        <button class="btn btn-lg btn-primary mt-4" type="submit">Submit</button>
        </form>
    </div>
</div>