<div class="jumbotron mt-5">
    <div class="container">
        <h1 class="d-flex justify-content-center">Improve your knowledge easily. How?</h1>
        <h4 class="d-flex justify-content-center mt-5">Three {{title}} steps: </h4>
        <h4 class="d-flex justify-content-center mt-4">1. Create an account. </h4>
        <h4 class="d-flex justify-content-center mt-4">2. Upload your test. </h4>
        <h4 class="d-flex justify-content-center mt-4">3. Start practise your test. </h4>
        <p><a class="btn btn-primary d-flex justify-content-center mt-5" href="/tests" role="button">Let's start &raquo;</a></p>
    </div>
</div>