<div class="jumbotron mt-5">
    <div class="container">
        <h1 class="display-3">{{userId}}</h1>
        <p class="lead">NAME: {{userName}}</p>
        <p class="lead">Email: {{email}}</p>
        <p class="lead">Password: {{userPass}}</p>
    </div>
</div>