{{#each testsName}}
<div class="jumbotron mt-5">
    <div class="container">
        <h1 class="display-3">Tests: {{this}}</h1>
        <p class="lead">Analitics or let's start {{this}}</p>
        
        <form action="/tests/get-tests" method="POST">
            <p><button class="btn btn-primary btn-lg" name="btnVal" value="{{this}}" role="button" type="submit" formmethod="POST">Get started &raquo;</button></p>
        </form>
    </div>
</div>
{{/each}}