{{#each testObj}}
<div class="jumbotron mt-5">
    <div class="container">
        <h1 class="display-3">{{this/testName}}</h1>
        <p class="lead">Analitics or let's start {{this/testId}}</p>
        
        <form action="/tests/get-tests" method="POST">
            <p><button class="btn btn-primary btn-lg" name="choosedTestId" value="{{this/testId}}" role="button" type="submit" formmethod="POST">Get started &raquo;</button></p>
        </form>
    </div>
</div>
{{/each}}